@import url("http://fonts.cdnfonts.com/css/apercu");

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

body,
#drawer-navigation {
  background: #0f2027;
}

h2,
h3,
h4,
h5,
h6,
span {
  color: #cbc7c7;
  line-height: 1.5;
}
/* 
section {
  height: 100vh;
} */

p {
  line-height: 1.5;
  font-size: 16px;
}

.introduction {
  display: flex;
  padding: 120px 100px;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  font-family: "Apercu Mono", sans-serif;
}

li {
  list-style-type: none;
}

.personal__logo {
  color: #66fcdb;
  font-weight: 700;
  font-size: 30px;
  margin: 0 12px;
  float: left;
}

.intro__hello {
  color: #66fcdb;
  font-weight: 600;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-top: 30px;
  font-family: var(--font-mono);
  font-weight: 400;
  font-family: "Space Mono", monospace;
  font-size: 22px;
}

.name {
  font-weight: 700;
  font-size: clamp(30px, 6vw, 60px);
  color: #919695;
  font-family: "Poppins", sans-serif;
  -webkit-animation: focus-in-expand-fwd 0.8s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-expand-fwd 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

h2 {
  display: block;
  margin-block-start: 0em;
  line-height: 2.5;
  max-width: 700px;
}

h3 {
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-top: 30px;
}

.intro__contact .highlight-link {
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  box-shadow: inset 0 -3px 0 #66fcdb;
  padding: 2px 3px;
  color: white;
}

.highlight-link:hover {
  background-color: #15abab61;
  transition: all 0.4s ease;
  border-radius: 6px;
}

.background {
  display: flex;
  align-items: center;
  color: #ffffff;
  width: 100%;
  justify-content: space-between;
  padding: 100px 120px;
}

.section__title {
  font-size: 30px;
  margin-bottom: 2.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #66fcdb;
  font-family: "Poppins", sans-serif;
}

.background .section__content {
  max-width: 600px;
}

.section__content p {
  color: #dfdcdc;
  display: block;
  margin-bottom: 30px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-family: "Space Mono", monospace;
}

.skills {
  color: #dfdcdc;
  padding: 130px 120px;
}

.skills .section__title {
  text-align: center;
}

.skills .section__content {
  display: flex;
  justify-content: space-between;
  font-family: "Space Mono", monospace;
}

.skillz_category--label {
  font-weight: 700;
  margin: 6px;
  font-family: "Apercu", sans-serif;
}

li {
  font-size: 14px;
  margin: 10px;
}

.projects {
  padding: 120px 100px;
}
.projects .section__title {
  text-align: center;
}

.contact {
  padding: 120px 100px;
  background-color: ;
}

.contact h1 {
  text-align: center;
}
